GEMINI_API_KEY=
CORS_ORIGIN=http://localhost:5173,http://localhost:3000
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=refresh_secret
JWT_ACCESS_EXPIRES_IN=1H
JWT_REFRESH_EXPIRES_IN=3D

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1476577255185453157/9q5-u8eELVNHN_OlpltCvR19-dgWxsL2hL-BT0_8Yv6zlDhzNJ0QkOv1teoouuudrAzn

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=

GITHUB_CLIENT_ID=
GITHUB_SECRET=

FRONTEND_URL=http://localhost:5173
REPORT_URL=http://localhost:8000/api