GEMINI_API_KEY=
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin123
RABBITMQ_URL=localhost:5672

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=secret
JWT_EXPIRES=3d